// Light
$clr-light: #233841;
$bg-light : white;
$accent-light : #5A8F7B;

// Dark
$clr-dark : white;
$bg-dark : #233841;
$accent-dark : #81CACF;

$border-radius: 20px;

* {
  margin: 0;
  padding: 0;
}
