// Light
$clr-light: #233841;
$bg-light : white;
$accent-light : #aba50a;

// Dark
$clr-dark : white;
$bg-dark : #233841;
$accent-dark : #FFF80A;


$border-radius: 20px;

* {
  margin: 0;
  padding: 0;
}
