@import "config";
@import "links";
@import "header";
@import "welcome";
@import "input";
@import "./theme-toggle/radioButton";
@import "./theme-toggle/toggleThemes";
@import "./buttons/optionsButtons";
@import "./buttons/submit";


html, body, #root {
  height: 100%;
  margin: 0px;
  padding: 0;
}


.app {
  width: 100vw;
  height: 100%;
  display: flex;
  padding-top: 0.5em;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  main {
    width: 80%;
    height: 70%;
  }
}

.dark {
  color: $clr-dark;
  background-color:$bg-dark;
  .active{
    color: $accent-dark;
  }
}

.light {
  color: $clr-light;
  background-color: $bg-light;
  .active{
    color: $accent-light;
  }
}
