@import "config";
@import "links";
@import "header";
@import "welcome";
@import "input";
@import "radioButton";
@import "toggleThemes";

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    width: 80%;
    height: 70%;
  }
}

.dark {
  background-color: $clr-dark;
  color: $clr-light;
}

.light {
  background-color: $clr-light;
  color: $clr-dark;
}
