.themes {
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 1em;
  padding: 0.5em;
  text-transform: capitalize;
  cursor: pointer;

  .radio {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: fit-content;
    padding: 0.25em;
    font-size: 1em;
    border-radius: $border-radius;
    position: relative;

    &.light{
      box-shadow: inset 0 0 0 3px $clr-light, 0 0 0 3px lighten($clr-light, 30%);
    }
    &.dark{
      box-shadow: inset 0 0 0 3px $clr-dark, 0 0 0 3px darken($clr-dark, 30%);
    }

    & input {
      width: auto;
      height: 100%;
      appearance: none;
      outline: none;
      cursor: pointer;
      border-radius: $border-radius;
      padding: 0.4em 0.6em;
      font-size: 1.25em;
      font-weight: 600;
      transition: all 100ms linear;

      &.light:checked {
        background-image: linear-gradient(
          to right,
          darken($bg-light, 00%) 0%,
          darken($bg-light, 20%) 20%,
          darken($bg-light, 30%) 80%,
          darken($bg-light, 40%) 100%
        );
      }
      &.dark:checked {
        background-image: linear-gradient(
          to right,
          lighten($bg-dark, 00%) 0%,
          lighten($bg-dark, 10%) 20%,
          lighten($bg-dark, 20%) 80%,
          lighten($bg-dark, 30%) 100%
        );
      }

      &:before {
        content: attr(label);
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }
  }
}
